.imageCropWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(245,248,249);
}

.ReactCrop {
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.ReactCrop__crop-selection {
  box-shadow: 0 0 0 9999em rgba(255, 255, 255, 0.4);
  border: 2px solid rgb(72, 198, 186);
  border-image-source: none;
  border-radius: 4px;
}

.ReactCrop__drag-handle::after {
  background-color: transparent;
  border: 1px solid transparent;
}

.ReactCrop__drag-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../assets/corner.svg);
  background-size: contain;
}

.ReactCrop .ord-nw {
  top: -12px;
  left: -12px;
  transform: rotate(-90deg);
}

.ReactCrop .ord-ne {
  top: -12px;
  right: -12px;
}

.ReactCrop .ord-se {
  bottom: -12px;
  right: -12px;
  transform: rotate(90deg);
}

.ReactCrop .ord-sw {
  bottom: -12px;
  left: -12px;
  transform: rotate(180deg);
}
